/* ACCOUNT */
.avatarOfUser {
  height: 128px;
  width: 128px;
  border-radius: 10px;
}

.chatpost {
    display: none;
    position: absolute;
    bottom: 0;
    right: 200px;
    width: 300px;
    height: 350px;
    background: black;
}

.conversation_msg {
    padding: 5px 10px;
    color: $color;
    list-style-type: none;
    font-size: 12px;
  }
    
.span {
        background: white;
        color: black;
        display: table;
        padding: 10px 20px;
        border-radius: 100px;
        float: left;
    }

